.journeysSection {
    padding: 7rem 0;
    background-color: #F4F6FF;
}

.head {
    margin-bottom: 3rem;
}

.tableSection {
    background-color: white;
}

.tableContainer {
    max-width: 1200px;
    margin: auto;
    overflow-x:auto;
    padding: 3rem;
}

.pageNumberContainer {
    margin: 3rem 0 1.5rem;
    font-size: 20px;
    font-weight: 500;
}

.buttonContainer {
    font-size: 1.5rem;
}

.buttonDarker {
    background-color: #035ba4;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    height: 2.8rem;
    line-height: 0px;
    margin: 0 5px;
    width: 5rem;
}

button:disabled,
button[disabled]{
  border: 3px solid #a6aac4;
  background-color: #c9ceed;
  color: #a6aac4;
}

.buttonLighter {
    background-color: #0174be;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    height: 2.8rem;
    line-height: 0px;
    margin: 0 5px;
    width: 5rem;
}

.input {
    border: 1px solid grey;
    border-radius: 12px;
    height: 3.2rem;
    margin: 1.5rem auto;
    padding: 0 20px;
    width: 350px;
}

/* Medium */
@media only screen and (max-width: 768px) {
    .journeysSection {
        padding: 5rem 0;
    }
  }

/* Extra Small*/
  @media only screen and (max-width: 400px) {
    .journeysSection {
        padding: 3rem 0;
    }
    .input {
        width: 90%;
    }
    .buttonDarker {
        width: 4rem;
    }
    .buttonLighter {
        width: 4rem;
    }
  }

