.errorpage {
    padding: 7rem 1rem;
}

.linkSection {
    margin-top: 2rem;
    margin-bottom: 10px;
}

.link404 {
    color: #0d4083;
    font-weight: 600;
    margin: 7px;
}

.image404 {
    max-width: 10rem;
    margin-bottom: 1rem;
}

  @media only screen and (max-width: 380px) {
    .errorpage {
        padding: 5rem 1rem;
    }
    .heading {
     font-size: 1.5rem;
    }
  }