
.footer {
  background-color: #333;
  font-size: large;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.footerContent {
  color: #cacbcc;
  display: flex;
}

.footerContent a {
  color: #cacbcc;
  text-align: left;
}

.footerContent a:hover {
  color: #fff;
}

.contentSection {
  margin: 0 30px;
  max-width: 1000px;
  display: flex;
  align-items: center;
}

.iconSection {
  margin-right: 20px;
}

.textSection {
  text-align: left;
}

.footerText {
  margin-bottom: 2px;
  display: block;
}

@media only screen and (max-width: 625px) {
  .contentSection {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 586px) {
  .footerContent {
    display: block;
  }
  .contentSection {
    margin: 1rem 0;
  }
}




